<html>
    <head>
    <title>Test Page</title>
    </head>

    <body>
        <div>
            <form>
                <label for="BookName">Book Name</label>
                <input type="text" id="BookName" name="BookName"><br>
                <label for="Author">Author(s)</label>
                <input type="text" id="Author" name="Author"><br>
                <label for="Publisher">Publisher</label>
                <input type="text" id="Publisher" name="Publisher"><br>
            </form>
        </div>
    </body>
</html>